## Setup

In [12]:
import pandas as pd
import numpy as np
import datetime

## Load Data

In [3]:
data = pd.read_csv('./data/bitstampUSD_1-min_data_2012-01-01_to_2017-05-31.csv')

In [4]:
data.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2841377 entries, 0 to 2841376
Data columns (total 8 columns):
Timestamp            int64
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtypes: float64(7), int64(1)
memory usage: 195.1 MB

## Clean Data

Convert integer timestamp to datetime

In [13]:
data['dt'] = data['Timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(float(x)))

In [23]:
data.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,dt
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2,4.39,2011-12-31 02:52:00
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 02:53:00
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 02:54:00
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 02:55:00
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 02:56:00

Inspect missing data...

In [34]:
data['YYmm'] = data['dt'].apply(lambda x: str(x.year)+'-'+str(x.month))

In [65]:
null_pcts = data.groupby('YYmm', as_index=False).agg({'Open':lambda x: x.isnull().sum()/(x.isnull().sum()+x.count())})

In [69]:
null_pcts.sort_values(['YYmm'])

       YYmm      Open
0   2011-12  0.996057
1    2012-1  0.988799
2   2012-10  0.907706
3   2012-11  0.910911
4   2012-12  0.919646
5    2012-2  0.986087
6    2012-3  0.986788
7    2012-4  0.982269
8    2012-5  0.980444
9    2012-6  0.953380
10   2012-7  0.942563
11   2012-8  0.911806
12   2012-9  0.924907
13   2013-1  0.890726
14  2013-10  0.236783
15  2013-11  0.046671
16  2013-12  0.067899
17   2013-2  0.840600
18   2013-3  0.697981
19   2013-4  0.254259
20   2013-5  0.162276
21   2013-6  0.347662
22   2013-7  0.374574
23   2013-8  0.426635
24   2013-9  0.374931
25   2014-1  0.130220
26  2014-10  0.184252
27  2014-11  0.224642
28  2014-12  0.258625
29   2014-2  0.119940
..      ...       ...
36   2014-9  0.221991
37   2015-1  0.172474
38  2015-10  0.299843
39  2015-11  0.200786
40  2015-12  0.216555
41   2015-2  0.296528
42   2015-3  0.306012
43   2015-4  0.250880
44   2015-5  0.337836
45   2015-6  0.285532
46   2015-7  0.317272
47   2015-8  0.340009
48   2015-9  0.343542
49   2016-1  0.249059
50  2016-10  0.416622
51  2016-11  0.370851
52  2016-12  0.318683
53   2016-2  0.253496
54   2016-3  0.247465
55   2016-4  0.230556
56   2016-5  0.393996
57   2016-6  0.281528
58   2016-7  0.440121
59   2016-8  0.375829
60   2016-9  0.398843
61   2017-1  0.194041
62   2017-2  0.216493
63   2017-3  0.147667
64   2017-4  0.191227
65   2017-5  0.049370

[66 rows x 2 columns]

In [75]:
data['Open'].isnull().sum()

1190473

In [76]:
data['Open'].count()

1650904